<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- 放在這個section之間的target都會有非同步功能 -->

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
      
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />

    <target xsi:type="File" name="Quartz" fileName="${basedir}/logs/Quartz.${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
      
  </targets>

  <rules>
    <!-- Message Level : 1.Trace, 2.Debug, 3.Info, 4.Warn, 5.Error, 6.Fatal -->

    <!--## 過濾：Quartz.* Debug與Trace的不寫Log。 -->
    <!--# 注：參數中不設定 writeTo 與 final=true 使有過濾效果。 -->
    <logger name="Quartz.*" maxlevel="Debug" final="true" />
    <!--# 設定 Quartz.* 的 Log 只寫入此處。 注：參數 final=true 讓log不再往下寫入。-->
    <logger name="Quartz.*" minlevel="Trace" maxlevel="Fatal" writeTo="Quartz" final="true" />

    <!--# 前面的rule設定讓 Quartz.* 的 Log 不會寫入此處。等同被過澸掉了 -->
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
